<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reader</title>
    <link rel="stylesheet" href="/css/styles2.css">
    <link rel="shortcut icon" href="/img/logos/logo b.ico" />
    <script src="/js/script.js" defer></script>
    <script src="/js/script2.js" defer></script>
</head>

<body>
    <!-- GRID CONTAINER -->
    <div class="container">
        <!-- HEADER -->
        <div class="header">
            <div class="switch">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:serif="http://www.serif.com/" width="100%" height="100%" viewBox="0 0 50 50" version="1.1" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                    <rect id="Light" x="0" y="0" width="50" height="50" style="fill:none;"/>
                    <g id="Light1" serif:id="Light">
                        <g transform="matrix(0.930233,0,0,0.930233,1.74419,1.74419)">
                            <path d="M25,3.5L27.92,17.949L38.137,11.863L32.051,22.08L46.5,25L32.051,27.92L38.137,38.137L27.92,32.051L25,46.5L22.08,32.051L11.863,38.137L17.949,27.92L3.5,25L17.949,22.08L11.863,11.863L22.08,17.949L25,3.5Z" style="fill:currentColor;"/>
                        </g>
                    </g>
                </svg>
                <input type="checkbox" name="toggle" id="toggle" class="a-new">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:serif="http://www.serif.com/" width="100%" height="100%" viewBox="0 0 50 50" version="1.1" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                    <g transform="matrix(1,0,0,1,-60,0)">
                        <g id="Dark" transform="matrix(1,0,0,1,60,0)">
                            <rect x="0" y="0" width="50" height="50" style="fill:none;"/>
                            <g transform="matrix(0.992785,0,0,0.992785,1.52506,-0.668123)">
                                <path d="M16.709,5.709C14.98,8.747 14,12.26 14,16C14,27.59 23.41,37 35,37C37.945,37 40.749,36.392 43.291,35.291C39.7,41.683 32.85,46 25,46C13.41,46 4,36.59 4,25C4,16.355 9.235,8.923 16.709,5.709ZM12.622,10.613C12.206,12.341 11.985,14.145 11.985,16C11.985,28.702 22.298,39.015 35,39.015C36.018,39.015 37.021,38.948 38.004,38.82C34.611,42.022 30.033,43.985 25,43.985C14.522,43.985 6.015,35.478 6.015,25C6.015,19.249 8.577,14.092 12.623,10.611L12.622,10.613Z" style="fill:currentColor;"/>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
            <div class="switch2">
                <input type="checkbox" name="toggle2" id="toggle2" class="c-new" placeholder="Font">
                <label for="switch2">TYPOGRAPHY</label>
            </div>
            <nav class="header-content">
                <a href="/">
                    <div class="h-img"></div>
                </a>
                <div class="content-items">
                    <a href="/" class="items-c on">News</a>
                    <a href="/papers" class="items-c">Articles</a>
                </div>
            </nav>
        </div>

        <!-- CONTENT -->
        <div class="content">

            <!-- LEFT -->
            <div class="content-left">
                <nav class="left-content">
                    <h2>NAVIGATION</h2>
                    <div class="content-list" id="container">
                        <a href="/" class="list active">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:serif="http://www.serif.com/" width="100%" height="100%" viewBox="0 0 209 209" version="1.1" xml:space="preserve" style="fill:currentColor;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><rect id="News" x="0" y="0" width="208.333" height="208.333" style="fill:none;"/><g id="News1" serif:id="News"><path d="M162.5,50c0,-2.21 -0.878,-4.33 -2.441,-5.893c-1.563,-1.562 -3.682,-2.44 -5.892,-2.44c-21.476,-0 -78.525,-0 -100,-0c-2.21,-0 -4.33,0.878 -5.893,2.44c-1.563,1.563 -2.441,3.683 -2.441,5.893c0,22.728 0,85.606 0,108.333c0,2.21 0.878,4.33 2.441,5.893c1.563,1.563 3.683,2.441 5.893,2.441c26.691,-0 108.333,-0 108.333,-0l0,-116.667Zm-8.333,-0c-0,-0 -0,108.333 -0,108.333l-100,0l-0,-108.333l100,-0Z"/><rect x="112.5" y="58.333" width="33.333" height="8.333"/><rect x="112.5" y="75" width="33.333" height="8.333"/><rect x="112.5" y="91.667" width="33.333" height="8.333"/><rect x="62.5" y="58.333" width="41.667" height="41.667"/><rect x="62.5" y="108.333" width="83.333" height="8.333"/><rect x="62.5" y="125" width="83.333" height="8.333"/><rect x="62.5" y="141.667" width="83.333" height="8.333"/><path d="M179.167,100c-0,-2.21 -0.878,-4.33 -2.441,-5.893c-1.563,-1.562 -3.683,-2.44 -5.893,-2.44c-4.166,-0 -8.333,-0 -8.333,-0l0,75l0,-0c9.205,-0 16.667,-7.462 16.667,-16.667c-0,-15.507 -0,-37.976 -0,-50Z"/><path d="M179.167,100c-0,-2.21 -0.878,-4.33 -2.441,-5.893c-1.563,-1.562 -3.683,-2.44 -5.893,-2.44c-4.166,-0 -8.333,-0 -8.333,-0l0,75c9.205,-0 16.667,-7.462 16.667,-16.667c-0,-15.507 -0,-37.976 -0,-50Z"/></g></svg>
                            <h2>NEWS</h2>
                        </a>
                        <a href="/papers" class="list">
                            <svg width="100%" height="100%" viewBox="0 0 209 209" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><rect id="Articles" x="0" y="0" width="208.333" height="208.333" style="fill:none;" style="fill:currentColor;"/><g><rect x="62.5" y="58.333" width="83.333" height="8.333" style="fill:currentColor;"/><rect x="62.5" y="75" width="83.333" height="8.333" style="fill:currentColor;"/><rect x="62.5" y="91.667" width="83.333" height="8.333" style="fill:currentColor;"/><rect x="62.5" y="108.333" width="83.333" height="8.333" style="fill:currentColor;"/><rect x="62.5" y="125" width="83.333" height="8.333" style="fill:currentColor;"/><rect x="62.5" y="141.667" width="83.333" height="8.333" style="fill:currentColor;"/></g><path d="M179.167,100c-0,-2.21 -0.878,-4.33 -2.441,-5.893c-1.563,-1.562 -3.683,-2.44 -5.893,-2.44c-4.166,-0 -8.333,-0 -8.333,-0l0,75l0,-0c9.205,-0 16.667,-7.462 16.667,-16.667c-0,-15.507 -0,-37.976 -0,-50Z" /><path d="M179.167,100c-0,-2.21 -0.878,-4.33 -2.441,-5.893c-1.563,-1.562 -3.683,-2.44 -5.893,-2.44c-4.166,-0 -8.333,-0 -8.333,-0l0,75c9.205,-0 16.667,-7.462 16.667,-16.667c-0,-15.507 -0,-37.976 -0,-50Z" style="fill:currentColor;"/><path d="M162.5,50c0,-2.21 -0.878,-4.33 -2.441,-5.893c-1.563,-1.562 -3.682,-2.44 -5.892,-2.44c-21.476,-0 -78.525,-0 -100,-0c-2.21,-0 -4.33,0.878 -5.893,2.44c-1.563,1.563 -2.441,3.683 -2.441,5.893c0,22.728 0,85.606 0,108.333c0,2.21 0.878,4.33 2.441,5.893c1.563,1.563 3.683,2.441 5.893,2.441c26.691,-0 108.333,-0 108.333,-0l0,-116.667Zm-8.333,-0c-0,0 -0,108.333 -0,108.333l-100,0l-0,-108.333l100,-0Z" style="fill:currentColor;"/></svg>
                            <h2>ARTICLES</h2>
                        </a>
                    </div>
                </nav>
            </div>

            <!-- CENTER -->
            <div class="content-center">
                <div class="center-content">
                    <!-- ARTICLE -->
                    <div class="text-t">
                        <h1>
                            <%= article.title %>
                        </h1>
                    </div>
                    <div class="author-date">
                        <h3>
                            <%= article.author %>
                        </h3>
                        <h3>
                            <%= article.createdAt.toLocaleDateString() %>
                        </h3>
                    </div>
                    <div class="cover">
                        <img src="<%= article.path %>" alt="">
                    </div>
                </div>

                <!-- TEXTO -->
                <div class="text-d" id="1">
                    <div class="text">
                        <p>
                            <%- article.sanitizedHtml %>
                        </p>
                    </div>
                </div>

                <!-- BUTTONS -->
                <div class="buttons">
                    <!-- <a href="/" class="button b-all">All News</a> -->
                    <a href="/articles/edit/<%= article.id %>" class="button b-edit">Edit</a>
                </div>
            </div>

            <!-- RIGHT -->
            <div class="content-right">
                <nav class="right-content">
                    <h2>NEWS VIEWER</h2>
                    <div class="content-question">
                        <a href="/articles/<%= article.slug %>" class="question">
                            <%= article.title %>
                        </a>
                    </div>
                </nav>
            </div>
        </div>


        <!-- FOOTER -->
        <div class="footer">
            <div class="footer-content">
                <div class="content-1">
                    <h2>Aztheroid</h2>
                    <p id="about">Aztheroid is a network focused on bringing the best experience for reading space news.
                    </p>
                </div>
                <div class="content-2">
                    <h2>About us</h2>
                    <a href="#">Join the crew</a>
                </div>
                <div class="content-3">
                    <h2>Follow us</h2>
                    <div class="icons">
                        <a href="https://www.instagram.com/aztheroid/" target="_blank"><i
                                    class="fab fa-instagram"></i></a>
                        <a href="https://www.youtube.com/channel/UCvKT92jwufIyf9nVpuBqj5g/about" target="_blank"><i
                                    class="fab fa-youtube"></i></a>
                        <a href="https://twitter.com/aztheroid" target="_blank"><i class="fab fa-twitter"></i></a>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <p>Copyright © 2018-2025 Aztheroid Networks</p>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/b62423cc22.js" crossorigin="anonymous"></script>
</body>

</html>