<div class="g-tide">
    <div class="form-group g-title">
        <input required value="<%= paper.title %>" type="text" name="title" id="title" class="title" maxlength="58" placeholder="Title (Required)">
    </div>
    <div class="form-group g-description">
        <textarea required name="description" id="description" class="description" cols="30" rows="10" placeholder="Description (Required)" maxlength="121"><%= paper.description %></textarea>
    </div>
    <div class="form-group g-author">
        <textarea required name="author" id="author" class="author" cols="30" rows="10" placeholder="Author (Required)" maxlength="30"><%= paper.author %></textarea>
    </div>
</div>

<div class="markdown">
    <textarea name="markdown" id="markdown" cols="30" rows="10"><%= paper.markdown %></textarea>
</div>

<div class="form-group g-image">
    <input type="file" required value="<%= paper.path %>" name="image" class="image" id="image">
</div>

<div class="form-group group-buttons">
    <div class="buttons">
        <button type="submit" class="button b-save">Save</button>
        <a href="/papers" class="button b-cancel">Cancel</a>
    </div>
</div>