<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>
    <link rel="stylesheet" href="/css/styles3.css">
    <link rel="shortcut icon" href="/img/logos/logo b.ico" />
    <script src="/js/script.js" defer></script>
</head>

<body>
    <!-- GRID CONTAINER -->
    <div class="container">
        <!-- HEADER -->
        <div class="header">
            <div class="switch">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:serif="http://www.serif.com/" width="100%" height="100%" viewBox="0 0 50 50" version="1.1" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                    <rect id="Light" x="0" y="0" width="50" height="50" style="fill:none;"/>
                    <g id="Light1" serif:id="Light">
                        <g transform="matrix(0.930233,0,0,0.930233,1.74419,1.74419)">
                            <path d="M25,3.5L27.92,17.949L38.137,11.863L32.051,22.08L46.5,25L32.051,27.92L38.137,38.137L27.92,32.051L25,46.5L22.08,32.051L11.863,38.137L17.949,27.92L3.5,25L17.949,22.08L11.863,11.863L22.08,17.949L25,3.5Z" style="fill:currentColor;"/>
                        </g>
                    </g>
                </svg>
                <input type="checkbox" name="toggle" id="toggle" class="a-new">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:serif="http://www.serif.com/" width="100%" height="100%" viewBox="0 0 50 50" version="1.1" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                    <g transform="matrix(1,0,0,1,-60,0)">
                        <g id="Dark" transform="matrix(1,0,0,1,60,0)">
                            <rect x="0" y="0" width="50" height="50" style="fill:none;"/>
                            <g transform="matrix(0.992785,0,0,0.992785,1.52506,-0.668123)">
                                <path d="M16.709,5.709C14.98,8.747 14,12.26 14,16C14,27.59 23.41,37 35,37C37.945,37 40.749,36.392 43.291,35.291C39.7,41.683 32.85,46 25,46C13.41,46 4,36.59 4,25C4,16.355 9.235,8.923 16.709,5.709ZM12.622,10.613C12.206,12.341 11.985,14.145 11.985,16C11.985,28.702 22.298,39.015 35,39.015C36.018,39.015 37.021,38.948 38.004,38.82C34.611,42.022 30.033,43.985 25,43.985C14.522,43.985 6.015,35.478 6.015,25C6.015,19.249 8.577,14.092 12.623,10.611L12.622,10.613Z" style="fill:currentColor;"/>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
            <nav class="header-content">
                <a href="/">
                    <div class="h-img"></div>
                </a>
                <div class="content-items">
                    <a href="/" class="items-c">News</a>
                    <a href="/papers" class="items-c on">Articles</a>
                </div>
            </nav>
            <a href="/papers/new" class="b-new">
                <h2>NEW POST</h2>
            </a>
        </div>

        <!-- CONTENT -->
        <div class="content">

            <!-- LEFT -->
            <div class="content-left">
                <nav class="left-content">
                    <h2>NAVIGATION</h2>
                    <div class="content-list" id="container">
                        <a href="#latest" class="list active">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:serif="http://www.serif.com/" width="100%" height="100%" viewBox="0 0 209 213" version="1.1" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.5;"><rect id="Latest_Time" x="0" y="0.557" width="208.333" height="208.333" style="fill:none;"/><path d="M104.167,46.39c32.195,0 58.333,26.139 58.333,58.334c0,32.195 -26.138,58.333 -58.333,58.333c-32.195,-0 -58.334,-26.138 -58.334,-58.333c0,-32.195 26.139,-58.334 58.334,-58.334Zm-0,8.334c27.595,-0 50,22.404 50,50c-0,27.595 -22.405,50 -50,50c-27.596,-0 -50,-22.405 -50,-50c-0,-27.596 22.404,-50 50,-50Z" style="fill:currentColor;"/><path d="M104.167,75l-0,33.333l29.166,0" style="fill:none;stroke:currentColor;stroke-width:8.33px;"/></svg>
                            <h2>LATEST</h2>
                        </a>
                        <a href="#articles" class="list">
                            <svg width="100%" height="100%" viewBox="0 0 209 209" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><rect id="Articles" x="0" y="0" width="208.333" height="208.333" style="fill:none;" style="fill:currentColor;"/><g><rect x="62.5" y="58.333" width="83.333" height="8.333" style="fill:currentColor;"/><rect x="62.5" y="75" width="83.333" height="8.333" style="fill:currentColor;"/><rect x="62.5" y="91.667" width="83.333" height="8.333" style="fill:currentColor;"/><rect x="62.5" y="108.333" width="83.333" height="8.333" style="fill:currentColor;"/><rect x="62.5" y="125" width="83.333" height="8.333" style="fill:currentColor;"/><rect x="62.5" y="141.667" width="83.333" height="8.333" style="fill:currentColor;"/></g><path d="M179.167,100c-0,-2.21 -0.878,-4.33 -2.441,-5.893c-1.563,-1.562 -3.683,-2.44 -5.893,-2.44c-4.166,-0 -8.333,-0 -8.333,-0l0,75l0,-0c9.205,-0 16.667,-7.462 16.667,-16.667c-0,-15.507 -0,-37.976 -0,-50Z" /><path d="M179.167,100c-0,-2.21 -0.878,-4.33 -2.441,-5.893c-1.563,-1.562 -3.683,-2.44 -5.893,-2.44c-4.166,-0 -8.333,-0 -8.333,-0l0,75c9.205,-0 16.667,-7.462 16.667,-16.667c-0,-15.507 -0,-37.976 -0,-50Z" style="fill:currentColor;"/><path d="M162.5,50c0,-2.21 -0.878,-4.33 -2.441,-5.893c-1.563,-1.562 -3.682,-2.44 -5.892,-2.44c-21.476,-0 -78.525,-0 -100,-0c-2.21,-0 -4.33,0.878 -5.893,2.44c-1.563,1.563 -2.441,3.683 -2.441,5.893c0,22.728 0,85.606 0,108.333c0,2.21 0.878,4.33 2.441,5.893c1.563,1.563 3.683,2.441 5.893,2.441c26.691,-0 108.333,-0 108.333,-0l0,-116.667Zm-8.333,-0c-0,0 -0,108.333 -0,108.333l-100,0l-0,-108.333l100,-0Z" style="fill:currentColor;"/></svg>
                            <h2>ARTICLES</h2>
                        </a>
                        <a href="#authors" class="list">
                            <svg width="100%" height="100%" viewBox="0 0 213 213" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><rect id="Authors" x="2.335" y="0.557" width="208.333" height="208.333" style="fill:none;"/><path d="M57.091,167.224c-2.436,0 -4.75,-1.064 -6.334,-2.915c-1.584,-1.85 -2.279,-4.3 -1.902,-6.707c4.688,-27.615 28.723,-48.712 57.647,-48.712c28.923,0 52.959,21.097 57.545,48.728c0.371,2.377 -0.315,4.797 -1.879,6.625c-1.564,1.828 -3.85,2.88 -6.255,2.88c-21.713,0.101 -77.11,0.101 -98.822,0.101Zm98.701,-8.434c-21.799,0.1 -77.032,0.1 -98.701,0.1l-0.003,0c4.002,-23.574 24.611,-41.666 49.414,-41.666c24.723,-0 45.283,17.979 49.29,41.566Z" style="fill:currentColor;"/><path d="M136.515,87.5l7.68,0c4.493,0 8.14,3.572 8.14,7.972l0,44.315c-2.282,-4.354 -5.153,-8.346 -8.508,-11.866l-0,-32.088l-10.843,0c1.561,-2.557 2.761,-5.359 3.531,-8.333Zm-60.026,0c0.77,2.975 1.97,5.776 3.53,8.333l-10.842,0l-0,32.033c-3.352,3.507 -6.224,7.484 -8.509,11.823l0,-44.217c0,-4.4 3.648,-7.972 8.14,-7.972l7.681,0Z" style="fill:currentColor;"/><path d="M141.667,46.39l-70.33,0l-0,29.345l70.33,0l-0,-29.345Zm-8.334,8.334l0,12.678c0,-0 -53.663,-0 -53.663,-0c0,-0 0,-12.678 0,-12.678l53.663,-0Z" style="fill:currentColor;"/><path d="M138.87,71.947l-8.655,0c0.801,2.449 1.235,5.063 1.235,7.777c-0,13.582 -10.855,24.649 -24.355,24.991l-0.645,0.009c-13.798,-0 -25,-11.203 -25,-25c-0,-2.714 0.433,-5.328 1.235,-7.777l-8.655,0c-0.597,2.496 -0.913,5.1 -0.913,7.777c-0,17.821 14.015,32.395 31.619,33.29l1.714,0.043c18.397,-0 33.333,-14.936 33.333,-33.333c0,-2.677 -0.316,-5.281 -0.913,-7.777Zm-32.42,-25.557l-0,0l0,0Z" style="fill:currentColor;"/><rect x="64.835" y="67.78" width="83.333" height="8.333" style="fill:currentColor;"/></svg>
                            <h2>AUTHORS</h2>
                        </a>
                        <a href="#about" class="list">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:serif="http://www.serif.com/" width="100%" height="100%" viewBox="0 0 209 209" version="1.1" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><rect id="About" x="0" y="0" width="208.333" height="208.333" style="fill:none;"/><path d="M104.167,41.667c34.494,-0 62.5,28.005 62.5,62.5c-0,34.494 -28.006,62.5 -62.5,62.5c-34.495,-0 -62.5,-28.006 -62.5,-62.5c-0,-34.495 28.005,-62.5 62.5,-62.5Zm-8.321,86.995c-0,-4.096 1.993,-6.144 5.981,-6.144c1.953,-0 3.445,0.536 4.476,1.607c1.031,1.072 1.546,2.584 1.546,4.537c0,1.926 -0.522,3.452 -1.566,4.578c-1.045,1.126 -2.53,1.688 -4.456,1.688c-1.926,0 -3.404,-0.549 -4.435,-1.648c-1.031,-1.098 -1.546,-2.638 -1.546,-4.618Zm1.668,-12.98l-0,-2.604c-0,-2.984 0.542,-5.466 1.627,-7.446c1.086,-1.981 2.984,-4.029 5.697,-6.145c3.228,-2.55 5.31,-4.53 6.246,-5.94c0.936,-1.411 1.404,-3.093 1.404,-5.046c-0,-2.279 -0.76,-4.028 -2.279,-5.249c-1.519,-1.221 -3.703,-1.831 -6.551,-1.831c-2.577,-0 -4.964,0.366 -7.161,1.099c-2.198,0.732 -4.341,1.614 -6.429,2.644l-3.418,-7.161c5.506,-3.065 11.406,-4.598 17.7,-4.598c5.317,-0 9.535,1.302 12.654,3.906c3.12,2.604 4.68,6.199 4.68,10.783c-0,2.035 -0.299,3.845 -0.895,5.432c-0.597,1.587 -1.499,3.099 -2.706,4.537c-1.207,1.438 -3.289,3.31 -6.246,5.615c-2.523,1.981 -4.212,3.622 -5.066,4.924c-0.855,1.302 -1.282,3.052 -1.282,5.249l0,1.831l-7.975,-0Z" style="fill:currentColor;"/></svg>
                            <h2>ABOUT</h2>
                        </a>
                    </div>
                </nav>
            </div>

            <!-- CENTER -->
            <div class="content-center">
                <div class="center-content">
                    <!-- LAST -->
                    <h2 id="latest">LATEST</h2>
                    <h2 id="articles">ARTICLES</h2>
                    <!-- LATEST/ARTICLES -->
                    <% papers.forEach(paper => { %>
                        <div class="articles">
                            <a href="papers/<%= paper.slug %>">
                                <div class="card" id="1">
                                    <img src="<%= paper.path %>" alt="" class="img">
                                    <div>
                                        <div class="text">
                                            <h2><span class="text-bg"><%= paper.title %></span></h2>
                                            <div class="author-date">
                                                <h3 class="author">
                                                    <%= paper.author %>
                                                </h3>
                                                <h3 class="date"><span class="date-bg"><%= paper.createdAt.toLocaleDateString() %></span></h3>
                                            </div>
                                            <p class="description">
                                                <%= paper.description %>
                                            </p>
                                            <div class="buttons">
                                                <a href="papers/edit/<%= paper.id %>" class="button b-edit">Edit</a>

                                                <form action="/papers/<%= paper.id %>?_method=DELETE" method="POST" class="button">

                                                    <button type="submit" class="button b-delete">Delete</button>

                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <% }) %>
                            <!-- AUTHORS -->
                            <h2 id="authors">AUTHORS</h2>
                            <div class="authors">
                                <a href="">
                                    <div class="card-author card-author-1">
                                        <div class="img-author">
                                            <img src="./img/authors/1.jpg" alt="" class="author-img">
                                        </div>
                                        <div class="author-card">
                                            <h2>Joe Hanson</h2>
                                        </div>
                                    </div>
                                </a>
                                <a href="">
                                    <div class="card-author card-author-2">
                                        <div class="img-author">
                                            <img src="./img/authors/2.jpg" alt="" class="author-img">
                                        </div>
                                        <div class="author-card">
                                            <h2>Derek Multer</h2>
                                        </div>
                                    </div>
                                </a>
                                <a href="">
                                    <div class="card-author card-author-1">
                                        <div class="img-author">
                                            <img src="./img/authors/3.jpg" alt="" class="author-img">
                                        </div>
                                        <div class="author-card">

                                            <h2>Mauricio Mercado</h2>
                                        </div>
                                    </div>
                                </a>
                                <a href="">
                                    <div class="card-author card-author-1">
                                        <div class="img-author">
                                            <img src="./img/authors/4.jpg" alt="" class="author-img">
                                        </div>
                                        <div class="author-card">

                                            <h2>Neil DeGrasse Tyson</h2>
                                        </div>
                                    </div>
                                </a>

                            </div>
                </div>
            </div>

            <!-- RIGHT -->
            <div class="content-right">
                <nav class="right-content">
                    <h2>ARTICLES VIEWER</h2>
                    <% papers.forEach(paper => { %>
                        <div class="content-question">
                            <a href="papers/<%= paper.slug %>" class="question">
                                <%= paper.title %>
                            </a>
                        </div>
                        <% }) %>
                </nav>
            </div>
        </div>

        <!-- FOOTER -->
        <div class="footer">
            <div class="footer-content">
                <div class="content-1">
                    <h2>Aztheroid</h2>
                    <p id="about">Aztheroid is a network focused on bringing the best experience for reading space news.
                    </p>
                </div>
                <div class="content-2">
                    <h2>About us</h2>
                    <a href="#">Join the crew</a>
                </div>
                <div class="content-3">
                    <h2>Follow us</h2>
                    <div class="icons">
                        <a href="https://www.instagram.com/aztheroid/" target="_blank"><i
                                class="fab fa-instagram"></i></a>
                        <a href="https://www.youtube.com/channel/UCvKT92jwufIyf9nVpuBqj5g/about" target="_blank"><i
                                class="fab fa-youtube"></i></a>
                        <a href="https://twitter.com/aztheroid" target="_blank"><i class="fab fa-twitter"></i></a>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <p>Copyright © 2018-2025 Aztheroid Networks</p>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/b62423cc22.js" crossorigin="anonymous"></script>
</body>

</html>